.header a, a:hover {
    color: #f0ad4e;
    text-decoration: none;
}

.header h1 {
    letter-spacing: 15px;
    font-size: 300%;
}

.header p {
    color: white !important;
    font-size: 90%;
}

.nav-pills>li>a {
    color: white;
}

.nav-pills>li>a:hover {
    background-color: #337ab7;
}

.navbar-inverse {
    padding: 1%;
}

@media (max-width: 768px) {
    .nav-pills>li {
        float: none;
    }

    .nav-pills {
        text-align: center;
    }

    .header h1 {
        letter-spacing: 5px;
        font-size: 280%;
        text-align: center;
    }

    .header p {
        text-align: center;
    }
}

.wrapper {
    min-height: 100%;
}

.clear {
    clear: both;
    height: 63px;
}

html, body {
    height: 100%;
}

.films_block {
    text-align: center;
}

.film_label {
    padding: 2%;
    margin-bottom: 4%;
} 

.margin-8 {
    margin-top: 8%;
}

.films_block img {
    margin-bottom: 5%;
    border-radius: 5px;
    border: solid 5px #dad7d5;
    width: 100%;
}

footer {
    color: #666;
    background-color: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}

footer a {
    color: #999;
}

footer a:hover {
    color: #efefef;
}

